@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --color-neutral-10: #310737;
    --color-neutral-0: #4a0454;
    --color-neutral-30: #f5f2f0;
    --color-neutral-40: #f5f5f5;
    --color-neutral-20: #212122;
    --color-neutral-50: #f1f1f1;
    --color-neutral-60: #828282;
    --color-neutral-70: #c9ae73;
    --color-neutral-80: #b79bbb;
}

* {
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100vw;
    padding: 10px;
    background-color: #310737;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 80px;
    position: fixed;
    z-index: 1000;
}

main {
    padding-top: 70px;
}

header.menu-open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--color-neutral-10);
}

.menu {
    position: absolute;
    left: 30px;
    z-index: 1001;
}

.menu #menu-box {
    display: none;
}

.menu .menu-lines {
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 30px;
    left: 30px;
}

.menu .menu-lines span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #ededed;
    border-radius: 3px;
    transition: all ease 0.2s;
}

.menu #menu-box:checked ~ .menu-lines span {
    background-color: #ededed;
}

.menu #menu-box:checked ~ .menu-lines span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
}

.menu #menu-box:checked ~ .menu-lines span:nth-child(2) {
    opacity: 0;
}

.menu #menu-box:checked ~ .menu-lines span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}

.menu ul {
    position: fixed;
    left: 0;
    width: 300px;
    background-color: var(--color-neutral-10);
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.menu #menu-box:checked ~ ul {
    transform: translateX(0);
}

.menu ul li {
    padding: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #ededed;
    font-size: 22px;
    transition: all ease 0.3s;
}

.menu ul li a:hover {
    color: #fff;   
}

.slider {
    /*margin: 100px auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;*/
    margin: 0 auto;
    width: 100vw;
    height: auto;
    overflow: hidden;
    position: relative;
}

.slides {
    width: 400%;
    display: flex;
    transition: transform 1s ease-in-out;
    /*height: auto;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;*/
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 1s;
    /*background-size: cover;
    background-repeat: no-repeat;*/
}

.slide img {
    width: 100vw /*800px*/;
    height: auto;
    display: block;
    /*object-fit: cover;*/
    /*background-size: cover;
    background-repeat: no-repeat;*/
}

.manual-navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    /*width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content:center;*/
}

.manual-btn {
    border: 1px solid #7f37c9;
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;   
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #7f37c9;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 1px solid #ededed;
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;

    /*border: 1px solid #7f37c9;
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s; */
}

.navigation-auto {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    /*width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;*/
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #7f37c9;
    opacity: 0.5;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #7f37c9;
    opacity: 0.5;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #7f37c9;
    opacity: 0.5;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #7f37c9;
    opacity: 0.5;
}

/*.navegue-categoria{
    display: flex;
    justify-content: center; 
    font-size: 1.25em; 
    padding: 30px; 
}

.navegacao-cat {
    max-width: 800px; 
    width: 100%; 
    background-color: #fff; 
    padding: 30px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    margin: 0 auto; 
}

.categorias {
    text-align: center;
    margin-top: 20px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px;
}

.category {
    flex: 1 1 25%; 
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
    align-self: flex-end;
}

.category img {
    max-width: 250px; 
    width: 100%; 
    height: auto;
    margin-bottom: 10px;
}

.category h2 {
    color: #000;
    padding: 10px;
    white-space: nowrap; 
}

.category i {
    font-size: 48px; 
    color: #000; 
    transition: color 0.2s;
    padding: 5px;
}

.category i:hover{
    color: #363636 ;
}*/

.bem-vindo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
}

.bem-vindo h1 {
    font-size: 50px;
    font-weight: bold;
    color: #4a0454;
}

.clique-aqui {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #fff;
    margin-top: 100px;
    margin-bottom: 100px;
}

.clique-texto {
    max-width: 60%;
}

.clique-texto h2 {
    font-size: 90px;
    color: var(--color-neutral-10);
    padding: 12px;
    margin-left: 5px;
}

h1 {
    font-size: 35px;
    color: var(--color-neutral-20);
    font-weight: normal;
}

.h4-text {
    align-items: center;
}

.clique-texto h4 {
    font-size: 15px;
    color: color(srgb #212122);
    margin-left: 85px;
}

.clique-texto p {
    font-size: 20px;
    color: var(--color-neutral-0);
    padding: 10px;
}

.clique-botao {
    margin-top: 20px;
    margin-left: 10px;
}

.clique-botao button {
    padding: 15px 30px;
    font-size: 1.30em;
    margin-left: 115px;
    color: #fff;
    background-color: var(--color-neutral-20);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clique-botao button:hover {
    background-color: var(--color-neutral-0);
}

/*.clique-img{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

.clique-img img {
    width: 24vw; 
    height: 24vw; 
    border-radius: 50%;
    border: 6px solid #fffbfb;
    box-shadow:  5px 5px 10px 7px rgba(0, 0, 0, 0.1);
}*/

/* Media Queries para Responsividade */
@media (max-width: 1200px) {
    .clique-texto {
        max-width: 100%;
        text-align: center;
    }

    .clique-texto h2 {
        padding-bottom: 10px;
        font-size: 2vw; /* Ajusta o tamanho da fonte em telas menores */
    }

    .clique-texto h4 {
        font-size: 2vw; /* Ajusta o tamanho da fonte em telas menores */
        margin-left: 30px;
        padding-left: 0px;
    }

    .clique-texto h1 {
        font-size: 3.2vw; /* Ajusta o tamanho da fonte em telas menores */
    }

    .clique-texto p {
        font-size: 4vw;
    }

    .clique-botao button {
        margin-left: 0;
        font-size: 1.1em;
    }

    .clique-aqui img {
        width: 40vw; /* Ajusta a largura da imagem conforme o tamanho da tela */
        height: auto;
    }
}

.container-desafios {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se ajustem em várias linhas */
    justify-content: space-between; /* Para distribuir os itens com espaçamento */
    padding: 50px;
    background-color: var(--color-neutral-40);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 60px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.clique-botao-desafios {
    margin-top: 20px;
    margin-left: 10px;
}

.clique-botao-desafios button {
    padding: 15px 30px;
    font-size: 1.30em;
    margin-left: 100px;
    color: #fff;
    background-color: var(--color-neutral-20);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clique-botao-desafios button:hover {
    background-color: var(--color-neutral-0);
}

.clique-desafios {
    max-width: 60%;
    margin-left: 40px;
}

.clique-desafios h1{
    margin-top: 30px;
    margin-bottom: 30px;
}

.clique-desafios h2 {
    font-size: 30px;
    color: var(--color-neutral-10);
    padding: 12px;
    margin-left: 5px;
}

.clique-desafios ul {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-top: 5px;
}

.clique-desafios ul li {
    font-size: 1.2rem;
    color: var(--color-neutral-20);
    margin: 5px 0;
    padding-left: 20px;
}

.clique-desafios ul li::before {
    content: '\2022';
    color:#c9ae73;
    font-weight: bold;
    display: inline-block;
    width: 10px;
    margin-left: -15px;
}

.clique-desafios h4 {
    font-size: 15px;
    color: color(srgb #212122);
    margin-left: 85px;
}

.clique-desafios p {
    font-size: 20px;
    color: var(--color-neutral-20);
    margin-top: 30px;
    margin-bottom: 25px;
}

.desafios-img {
    max-width: 40vw /*450px*/;
    height: auto;
    margin-top: 5px;
    margin-right: 50px;
    flex: 1 1 600px; /* A imagem terá uma largura máxima de 600px, mas pode se ajustar */
    align-self: flex-start;
}

/* Media Queries para responsividade */
@media (max-width: 1200px) {
    .clique-desafios {
        max-width: 100%;
        margin-left: 20px;
    }

    .clique-botao-desafios button {
        margin-left: 50px;
        font-size: 2.5vw;
    }

    .clique-desafios h1 {
        font-size: 3.2vw;
    }

    .clique-desafios h2 {
        font-size: 3vw;
    }

    .clique-desafios ul li {
        font-size: 1.8vw;
    }

    .clique-desafios p {
        font-size: 1.8vw;
    }

    .desafios-img {
        max-width: 22vw;
        height: auto;
        margin-top: 60px;
        padding-left: 1vw;
    }
}

@media (max-width: 768px) {
    .container-desafios {
        padding: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .clique-botao-desafios button {
        margin-left: 10px;
        font-size: 5px;
    }

    .clique-desafios h1 {
        font-size: 3vw;
    }

    .clique-desafios h2 {
        font-size: 1vw;
    }

    .clique-desafios ul li {
        font-size: 1vw;
    }

    .clique-desafios p {
        font-size: 1vw;
    }

    .desafios-img {
        max-width: 6vw;
        height: auto;
        margin-top: 100px;
        padding-left: 1vw;
    }
}

.container-metas {
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;
}

.container-metas h1{
    text-align: left;
    padding-left: 40px;
}

.metas {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.meta {
    background-color: #ededed;
    padding: 20px;
    margin: 40px;
    border-radius: 50px;
    width: 550px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.meta img {
    width: 85px;
    height: auto;
    padding-left: 30px;
    padding-right: 10px;
}

.info {
    padding-left: 10px;
    flex: 1;
}

.progress-bar {
    width: 100%;
    height: 6px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.progress {
    height: 100%;
    border-radius: 10px;
}

.progress.ano {
    width: 40%;
    background-color: #454692;
}

.progress.mes {
    width: 80%;
    background-color: #83b4ff;
}

/* Media queries */
@media screen and (max-width: 768px) {
    .clique-aqui, .container-desafios, .container-metas {
        flex-direction: column;
        padding: 5%;
        margin: 0;
    }

    .clique-texto h2, .clique-desafios h2, .clique-texto h4, .clique-desafios h4 {
        font-size: 6vw;
    }

    .clique-desafios ul li {
        font-size: 1rem;
    }

    .meta {
        width: 80vw;
        padding: 8vw;
    }

    .desafios-img, .clique-img img {
        width: 80vw;
        height: auto;
    }
}

footer {
    margin-top: 100px;
    width: 100vw;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    justify-items: center;
}
.footer-logo {
    width: 250px; 
}

#footer_contacts {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    padding: 10px;
}


.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    margin-top: 30px;
}

.footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: auto;
    margin-top: 30px;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}


#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.25rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

.highlights {
    background-color: #b79bbb;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100vw;
}

.highlights h2 {
    font-size: 2em;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}

.slider-2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center;
    width: 100vw; 
    overflow: hidden;
}

.slide-2 {
    display: flex;
    width: 100vw; 
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-shrink: 0; 
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 150px;
    text-align: center;
    text-decoration: none;
}

.card img {
    width: 150px;
    height: 220px;
    object-fit: cover;
}

.card p {
    margin: 10px;
    font-size: 1em;
    color: var(--color-neutral-20);
}

.pagination {
    margin-top: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #E0D0FF;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #454692;
}